.slider{
    

    &__slide {
        width: 100%;
        height: 710px;


    }
    .slick-arrow {
        position: absolute;
        top: 42%;
        z-index: 10;
        font-size: 0;
        width: 30px;
        height: 55px;
        outline: none;
        border: none;
    }
    .slick-prev {
        left: 5%;
        background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
        fill: $light-color;

    }
    .slick-next {
        right: 5%;
        background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
        fill: $light-color;

    }
    .slick-prev:hover,
    .slick-next:hover{
        transform: scale(1.5);
    }
}
@media screen and (max-width: 992px) {
    .slider {
        .slick-prev {
            left: 2%;
        }
        .slick-next {
            right: 2%;
        }
    }
}
@media screen and (max-width: 576px) {
    .slider {
        .slick-arrow {
            top: 53%;

            width: 20px;
            height: 45px;
        }
    }
}