@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;500&family=Roboto+Condensed:wght@700&family=Roboto:wght@100;300;400;700&display=swap');


$title-color: #3d3d3d;
$primary-color: #696969;
$light-color: #f6f6f6;

$title-ff:  'Big Shoulders Text', cursive;
$text-ff: 'Roboto', sans-serif;
$else-ff: 'Roboto Condensed', sans-serif;

$fill: #FF5F29;

$border: 1px solid #FF5F29;





// $border-width: 2px;
// $border: $border-width solid $primary-color;
// $border-line: 4px solid $primary-color; 
