@import 'normalize';
@import 'variables';
@import 'nav';
@import 'swiper.min.scss';
@import 'animate';

* {
    box-sizing: border-box;
}

a, button{
    color: inherit;
    text-decoration: none;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font: 300 1.4rem/1.6 $text-ff;
    color: $dark-color;
    background-color: #ffffff;
    overflow-x: hidden;

}

.overflow {
    overflow: hidden;
}

.container {
    max-width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
}
.section{
    margin: 40px 0 50px 0;
    &--sm {
        padding: 20px 0;
    }
    &--dark {
        background-color: #0A191E;
        color: $light-color;
    }
    .head__title--dark {
        font-size: 3rem;
    }
}

.head {
    max-width: 590px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    &__title {
        color: $title-color;
        font-family: $title-ff;
        font-size: 4.8rem;
        margin: 0;
        letter-spacing: .1em;
        text-transform: uppercase;
    } 
    &__title--dark {
        color: $light-color;
        font-family: $text-ff; 
        // letter-spacing: normal;
        font-size: 3.6rem;
    }
    &__line {
        display: block;
        border-top: $border;
        width: 170px;
        margin: 0 auto;
        margin-bottom: 15px;
    }  
    &__line--dark {
        border-top: 1px solid $light-color;

    }
}

.body {
    display: flex;
    text-align: center;
    justify-content: center;
    &__item {
        width: calc((100% / 3) - 15px * 2);
        padding: 20px 40px;
        margin: 15px;
        background-color: #ebebeb;
    }
    &__item--lg {
        width: calc((100% / 4) - 15px * 2);
        background-color: transparent;
        h3 {
            font-weight: 300;
            text-transform: none;
        }
        p {
            font-weight: 300;
            font-size: 4.8rem;
            margin: 20px 0;
        }
    }
    &__link:hover {
        text-decoration: underline;
        color: $fill;
    }
    &__title {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.8rem;
    }
    .svg-wrap {
        padding-top: 15px;
        svg {
            fill: $fill;
        }
    }
}

.header {
    background-color: #f9f6f6;
    &__body{
        position: relative;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 145px;
    }
    &__logo {
        font-family: $title-ff;
        font-size: 4rem;
        text-transform: uppercase;
    }
    &__logo img{
        margin-right: 15px;
        margin-bottom: -10px;
    }
}

.slide {
    position: relative;
    width: 100vw;
    height: 800px;
    font-family: $title-ff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__content {
        color: $light-color;
        position: absolute;
        z-index: 11;
    }
    &__title {
        font-size: 7.2rem;
        margin: 0;
        position: relative;
       
    }
    &__suptitle {
        font-size: 3.6rem;
        margin: 0;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0) 100%); 
    } 
    .swiper-button-prev,
    .swiper-button-next {
        bottom: 10%;
        
    } 
    .swiper-button-prev {
        left: 45%;
        
    }
    .swiper-button-next {
        
        right: 45%;
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: $light-color;
    font-size: 7.2rem;
}


#video {
    .video-wrap {
        display: flex;
        height: 430px;
    }
    .section__part {
        width: 50%;
        &--text {
        padding: 80px 40px;
        }
    }
    .section__part--video {
        position: relative;
        overflow: hidden;  
    .section__part--video img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        }
    }    
}

.btn {
    width: 135px;
    height: 35px;
    background-color: $fill;
    text-transform: uppercase;
    outline: none;
    border: none;
    margin: 20px;
}  

.btn:hover,
.btn:focus,
.btn:active {
    background-color: transparent;
    border: $border;
}
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item {
        width: calc((100% / 3) - 15px * 2);
        height: 300px;
        margin: 15px;
        position: relative;
        overflow: hidden;        
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}

.profile {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    &__part {
        margin: 15px;
        padding: 65px;
        background-color: #ebebeb;
    }
    &__part--sm {
        text-transform: uppercase;
        text-align: center;
        width: 35%;
    }
    &__part--lg {
        width: 65%;
    }
    &__img {
        position: relative;
        overflow: hidden;
        height: 200px;
        padding-top: 100%;
        border-radius: 50%;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
        }
    }
    &__name {
        font-weight: 700;
        font-size: 2rem;
        padding: 10px;
    }
    &__position {
        padding: 10px;
    }
    .socials {
        svg {
            fill: $dark-color;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 2.4rem;
        text-transform: uppercase;
        letter-spacing: .1em;
    }
    .skills {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        margin: 15px 0;
        &__name {
            font-weight: 700;
            width: 30%;
            margin-right: 10px;
        }
        &__procent {
            width: 10%;
            text-align: center;
        }
    }
}

progress.skills__progress {
    display: block;
    width: 50%;
    height: 2px;
    border-radius: 6px;
    margin: 0 10px;
  }

  progress.skills__progress::-webkit-progress-bar {
    background-color: beige;
    border-radius: 6px;
  }
  
  progress.skills__progress::-webkit-progress-value {
    background-color: #FF5F29;
    border-radius: 6px;
  }
  progress.skills__progress::-moz-progress-bar {
    background-color: #FF5F29;
    border-radius: 6px;
  }

#blog {
    .body__item{
        padding: 0;
        text-align: left;
    }
    .body__img {
        position: relative;
        overflow: hidden;
        height: 230px;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
        }
    }
    .body__content {
        padding: 20px;
    }
    .body__publish {
        display: flex;
        align-items: center;
        svg {
            margin-right: 10px;
            fill: $dark-color;
        }
        time {
            margin-top: 11px;
            font-size: 1rem;
        }
    }
}

#tariffs {
    text-align: center;
    padding: 50px 0;
    .body__item--lg {
        border: 1px solid transparent;
    }
    .up {
        background-color: #000000;
        padding: 30px 60px;
        text-align: center;
        width: 100%;
        &__title {
            font-weight: 700;
            text-transform: uppercase;
        }
        &__subtitle {
            font-size: 3.6rem;
        }
    }
    .content {
        background-color: #142328;
        div {
            padding: 15px;
        }
        span {
            font-weight: 700;
        }
        .btn {
            border-radius: 5px;
            margin: 50px;
        }
        
    }
    .body__item--lg:hover,
    .body__item--lg:focus,
    .body__item--lg:active {
        border: $border;
        transition: all .4s ease-in-out;
    }
    .body__item--lg:hover span,
    .body__item--lg:focus span,
    .body__item--lg:active span {
        color: $fill;
        transition: all .4s ease-in-out;

    }
}

.feedback {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &__group {
        margin: 15px;
        width: 100%;  
    }
    &__group--1-2 {
        width: calc(50% - 15px * 2);
        margin: 15px;

    }
    &__input,
    &__label {
        display: block;
        width: 100%;
        padding-top: 25px;
    }
    &__label {
        text-transform: uppercase;
        color: $dark-color;
        font-weight: 700;
        span {
            color: $fill;
        }
    }
    &__input {
        outline: none;
        border: none;
        border-bottom: 1px solid $dark-color;
    }
    .btn {
        margin: 40px auto;
        color: $light-color;
    }
    .btn:hover,
    .btn:active,
    .btn:focus {
        color: $dark-color;
    }
    
    
}

.swiper-pagination {
    position: relative;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 5px;
}

:root {
    --swiper-theme-color: #FF5F29;
}

.footer {
    text-align: center;
    text-transform: uppercase;
    &__location {
        background-color: #000000;
        font-weight: 700;
        font-size: 2.4rem;
        letter-spacing: 0.1em;
        padding: 20px;
        span {
            color: $fill;
        } 
    }
    &__content {
        padding: 30px;
    }
    &__title {
        font-size: 2.4rem;
        font-family: $title-ff;
    }
    .btn-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        background-color: #000;
        button {
            background-color: transparent;
            outline: none;
            border: 1px solid transparent;
            text-transform: uppercase;
        }
        .modal-btn:hover,
        .modal-btn:focus,
        .modal-btn:active {
            border: 1px solid $fill;
        } 
    }
    .modal{
        position: fixed;
        width: 100%;
        height: 100%;
        color: $title-color; 
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 400;
        &__close {
            border: 1px solid #000;
            outline: 0;
            position: absolute;
            top: 5%;
            right: 5%;
            font-size: 2.5rem;
            text-decoration: none;
            z-index: 451;
        }
        
    }
}

#map {
    width: 100vw;
    height: 100vh;
}

.socials {
    display: inline-block;
    svg {
        margin: 5px;
        fill: $light-color;
    }
}
@media screen and (max-width: 992px) {
    #tariffs{
        .up {
            padding: 30px 0;
        }
        .content {
            .btn {
                margin: 20px 0;
            }
        
    }
}
}


@media screen and (max-width: 768px) {
    .hero-slider .swiper-button-prev::after,
    .hero-slider .swiper-button-next::after {
        font-size: 5.2rem;
    }

    #video {
        .section__part {
            &--text {
            padding: 15px;
            }
        }
        .section__part--video {
            position: relative;
            overflow: hidden;  
        .section__part--video img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            }
        }    
    }

    .profile {
        &__part {
            padding: 20px;
            margin: 5px;
        }
        &__name {
            padding: 0;
        }
        &__position {
            padding: 0;
        }
    }

    #tariffs {
        .up {
            padding: 30px;
            &__subtitle {
                font-size: 2.8rem;  
            }
        }
        .content {
            .btn {
                margin: 15px;
                width: 100px;
            }

        }
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 9px;
    }
    .body {
        flex-wrap: wrap;
        justify-content: center;
        &__item {
            padding: 10px 15px;
            margin: 15px;
            width: 80%;
        }
        &__item--lg {
            width: calc(100% / 2);
        }
    }
    .slide{
        &__title {
            font-size: 3.6rem;
        }
            .swiper-button-prev {
                left: 30%;
                
            }
            .swiper-button-next {
                
                right: 30%;
            }
    }
    #video {
        .video-wrap {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .section__part {
            width: 100%;
        } 
        .section__part--video {
            display: none;
        } 
    
    }
    .gallery {
        &__item {
            width: 90%;
            margin: 15px;
        }
    }
    .profile {
        flex-wrap: wrap;
        justify-content: center;
        &__part--sm {
            width: 90%;
            margin-bottom: 30px;
        }
        &__part--lg {
            width: 90%;
            padding: 25px;
        }
        &__img {
            padding-top: 50%;
            border-radius: 0;
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }  
    #features {
        .body__item--lg {
            width: calc(100% / 3);
        }
    }
    .footer{
        .modal__close{
            top: 12%;
            right: 3%;
            
        }

    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 8px;
    }
}
